extends layout

block content
	div.container
		div.row
			div.col-md-8
				img(width="640", height="480")#viewFinder
			div.col-md-4
				h3 Image Age
				h4#imageAge hej
				h3 X Y
				h4#xyLabel hej
				h3 Battery
				h4#batteryLevel hej
				h3 Speed
				h4#speedLevel hej